<head><title>Releases</title></head>
$!{decoration.custom.setAttribute("contentHeaderLogo", "../images/header-jump.jpg")}
#set( $H = '#' )

Releases
-------

As development continues, subshare changes. For historic reasons, we provide the
corresponding web-site-version for each release.

In the following you find a list of all releases:

* [Latest development snapshot](../../latest-dev/) (Not stable & not yet released!)
* [Latest stable version](../../latest-stable/)
* [0.10.2](../../0.10.2/) (released 2017-09-24)
* [0.10.1](../../0.10.1/) (released 2017-07-30)
* [0.10.0](../../0.10.0/) (released 2017-04-01)
* [0.9.10](../../0.9.10/) (released 2016-12-30)
* [0.9.9](../../0.9.9/) (released 2016-11-08)
* [0.9.8](../../0.9.8/) (released 2016-10-24)

Older releases (before 0.9.8) were internal tests and didn't have a web-site, yet.
