<head><title>Releases</title></head>
$!{decoration.custom.setAttribute("contentHeaderLogo", "../images/header-jump.jpg")}
#set( $H = '#' )

Releases
-------

As development continues, subshare changes. For historic reasons, we provide the
corresponding web-site-version for each release.

In the following you find a list of all releases:

* [Latest development snapshot](../../latest-dev/) (Not stable & not yet released!)
* [Latest stable version](../../latest-stable/)
* [0.9.8](../../0.9.8/) (released 2016-10-21)
