<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
		</encoder>
	</appender>

	<timestamp key="now" datePattern="yyyy-MM-dd'T'HH-mm-ss.SSS"/>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>build/subshare.test.${now}.log</file>
		<encoder>
			<!-- <pattern>%date [%thread] %level %logger{10} [%file:%line] %msg%n</pattern> -->
			<pattern>%date [%thread] %level %logger{10} - %msg%n</pattern>
		</encoder>
	</appender>

<!--
	<logger name="com.lordofthejars.foo" level="INFO" additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>
-->

<!--
	<logger name="org.subshare.core.pgp" level="DEBUG"/>
	<logger name="org.subshare.core.pgp.gnupg.TrustDbFactory" level="ALL"/>
	<logger name="org.subshare.local" level="DEBUG"/>
-->

<!--
	<logger name="org.subshare.local.SsLocalRepoMetaDataImpl" level="DEBUG"/>
	<logger name="org.subshare.local.CryptreeImpl" level="DEBUG"/>
	<logger name="org.subshare.rest.client.transport.CryptreeRestRepoTransportImpl" level="DEBUG"/>
	<logger name="org.subshare.local.transport.CryptreeFileRepoTransportImpl" level="DEBUG"/>
	<logger name="org.subshare.local.persistence.CurrentHistoCryptoRepoFile" level="DEBUG"/>
-->

	<logger name="DataNucleus.Datastore.Native" level="ALL" />

	<logger name="co.codewizards.cloudstore.rest.client.CloudStoreRestClient" level="DEBUG"/>
	<logger name="co.codewizards.cloudstore.test.CloudStoreServerTestSupport" level="DEBUG"/>
	<logger name="co.codewizards.cloudstore.server.CloudStoreServer" level="DEBUG"/>

	<logger name="org.subshare.core.pgp.gnupg.BcPgpDecoder" level="DEBUG"/>
	<logger name="org.subshare.core.user.UserImpl" level="DEBUG"/>
	<logger name="org.subshare.local.UserRepoKeyPublicKeyHelper" level="DEBUG"/>

	<logger name="co.codewizards.cloudstore.local.LocalRepoManagerImpl" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE"/>
	</root>
</configuration>