<head><title>Documentation</title></head>
$!{decoration.custom.setAttribute("contentHeaderLogo", "../images/header-relaxed.jpg")}
#set( $H = '#' )

Documentation
-------

$H$H$H Getting started

Please read the [Getting started](./getting-started.html) page first. It shows you how easy it is to use subshare.


$H$H$H Server installation

In order to use Subshare productively, you must [set up your own server](./server-installation.html).


$H$H$H Check-out on separate desktop computer or restore after crash

The procedure is the same, whether you want to [set up subshare (and check-out repositories) on an additional device](./check-out_on_separate_desktop-computer.html)
or whether your computer broke (hard disk failures are common) and you want to
[restore your backup](./check-out_on_separate_desktop-computer.html) afterwards.


$H$H$H Wiki

The [wiki](../../wiki) provides additional documentation. Also it is a place where *you* can help us and others by
writing down helpful hints about making the most of subshare.


$H$H$H FAQ (frequently asked questions)

Any question? Please check our [FAQ](./faq.html)! Maybe it\'s already answered there.


$H$H$H Security

The [Security](./security.html) documentation explains how CloudStore secures your data.


$H$H$H Configuration

On the page [Configuration](./config.html) you can find out how to fine-tune the behaviour of CloudStore.


$H$H$H Development

Are you a developer? Do you want to contribute to this project? Or do you want to verify the source codes?
Then please read the [Development](./development.html) infos here.

