<head><title>Security</title></head>
$!{decoration.custom.setAttribute("contentHeaderLogo", "../images/header-relaxed.jpg")}
#set( $H = '#' )

Security
-------

subshare aims to be the most secure file synchronisation tool available. Here we describe in
detail how this is done:

$H$H$H OpenPGP

TO BE DOCUMENTED...


$H$H$H Cryptree

TO BE DOCUMENTED...
