<head><title>Server installation</title></head>
$!{decoration.custom.setAttribute("contentHeaderLogo", "../images/header-notebook.jpg")}
#set( $H = '#' )

Server installation
-------

$H$H$H Install Java

If you didn\'t install Java, yet, you should do this now. Please download and install either
[Oracle Java](http://java.com/) or the OpenJDK. Subshare requires Java 8.

If you use Ubuntu, you could open a shell and enter the following command to install the OpenJDK 8:

	sudo apt-get install openjdk-8-jre


$H$H$H Download server

[Download](../download/index.html) the subshare server to your local machine. It is recommended that
you download the PGP signature, too, and verify the authenticity of the binary file.

TO BE CONTINUED...
